@keyframes america-bg {
    0% {background-color: red;}
    50% {background-color: white;}
    100% {background-color: blue;}
}

@keyframes important-header {
    from {color: chartreuse;}
    to {color: darkgreen;}
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes rainbow-bg {
    0% {background-color: red;}
    14% {background-color: orange;}
    28% {background-color: yellow;}
    42% {background-color: green;}
    56% {background-color: blue;}
    70% {background-color: indigo;}
    84% {background-color: purple;}
    100% {background-color: red;}
}

@keyframes rainbow-text {
    0% {color: red;}
    14% {color: orange;}
    28% {color: yellow;}
    42% {color: green;}
    56% {color: blue;}
    70% {color: indigo;}
    84% {color: purple;}
    100% {color: red;}
}
@keyframes minecraft-splash {
  0% {scale: 1;}
  50% {scale: 2;}
  100% {scale: 1;}
}

.america-back {
    animation-name: america-bg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.important {
    animation-name: important-header;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.typewriter {
    animation-name: typing;
    animation-duration: 10s;
    animation-iteration-count: 1;
    overflow: hidden;
    white-space: nowrap;
    align-self: center;
}
.rainbext {
    animation-name: rainbow-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
.rainbow-back {
    animation-name: rainbow-bg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
.splash-text {
  animation-name: minecraft-splash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}


th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

th[scope='col'] {
  background-color: #505050;
  color: #fff;
}

th[scope='row'] {
  background-color: #d6ecd4;
}

td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #eee;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: system-ui;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
