@keyframes america-bg {
    0% {background-color: red;}
    50% {background-color: white;}
    100% {background-color: blue;}
}

@keyframes important-header {
    from {color: chartreuse;}
    to {color: darkgreen;}
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

.america-back {
    animation-name: america-bg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.important {
    animation-name: important-header;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.typewriter {
    animation-name: typing;
    animation-duration: 10s;
    animation-iteration-count: 1;
    overflow: hidden;
    white-space: nowrap;
    align-self: center;
}